<div class="container mt-4">
  <div class="row">
    <div class="col col-sm-6 mx-auto">
      <div class="mb-3">
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo electrónico*">
      </div>
      <div class="mb-3">
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Teléfono">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Sujeto">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mensaje*">
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </div>
  </div>
</div>
